# This file will be deleted once its contents are moved into ci-astra-dev.yml or its equivalent
name: AstraDev NEW

on:
  #push:
  #  branches: [ main ]
  #pull_request:
  #  branches: [ main ]
  workflow_dispatch:
    inputs:
      java_distribution:
        description: 'JDK distribution to use'
        required: true
        default: 'adopt'
        type: choice
        options: ['adopt', 'temurin']
      java_version:
        description: 'JDK version to use'
        required: true
        default: '17.0'
      cache_pkg_mgr_name:
        description: 'Cache package manager to be used'
        required: true
        default: 'maven'
      skip_tests_on_build:
        description: 'Skip tests during Maven build'
        required: false
        default: 'true'

jobs:
  BUILD:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Checkout & Build
        uses: ./.github/actions/checkout-and-build

  run_dev_tests:
    needs: BUILD
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - cloud_provider: AWS
            cloud_region: us-west-2
          - cloud_provider: GCP
            cloud_region: europe-west4
#          - cloud_provider: GCP
#            cloud_region: us-central1
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: ${{ inputs.java_distribution }}
          java-version: ${{ inputs.java_version }}
          cache: ${{ inputs.cache_pkg_mgr_name }}

      - name: Run Maven Tests
        env:
          ASTRA_DB_APPLICATION_TOKEN_DEV: ${{ secrets.ASTRA_DB_APPLICATION_TOKEN_DEV }}
          ASTRA_CLOUD_PROVIDER_DEV: ${{ matrix.cloud_provider }}
          ASTRA_CLOUD_REGION_DEV: ${{ matrix.cloud_region }}
        run: |
          cd astra-db-java
          mvn test -Dtest=com.datastax.astra.test.integration.dev.*Test

  run_vectorize_tests:
    needs: BUILD
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - cloud_provider: AWS
            cloud_region: us-west-2
          - cloud_provider: GCP
            cloud_region: europe-west4
          - embedding_provider: openai
            key_name: OPENAI_API_KEY
          - embedding_provider: azureOpenAI
            key_name: AZURE_OPENAI_API_KEY
          - embedding_provider: huggingface
            key_name: HF_API_KEY
          - embedding_provider: mistral
            key_name: MISTRAL_API_KEY
          - embedding_provider: voyageAI
            key_name: VOYAGE_API_KEY
          - embedding_provider: upstageAI
            key_name: UPSTAGE_API_KEY
          - embedding_provider: jinaAI
            key_name: JINA_API_KEY
          - embedding_provider: nvidia
            key_name: 'nvidia' # Not used

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: ${{ inputs.java_distribution }}
          java-version: ${{ inputs.java_version }}
          cache: ${{ inputs.cache_pkg_mgr_name }}

      - name: Run Maven Tests
        env:
          ASTRA_DB_APPLICATION_TOKEN_DEV: ${{ secrets.ASTRA_DB_APPLICATION_TOKEN_DEV }}
          ASTRA_CLOUD_PROVIDER_DEV: ${{ matrix.cloud_provider }}
          ASTRA_CLOUD_REGION_DEV: ${{ matrix.cloud_region }}
          EMBEDDING_PROVIDER: ${{ matrix.embedding_provider }}
          EMBEDDING_API_KEY: ${{ secrets[matrix.key_name] }}
        run: |
          cd astra-db-java
          mvn test -Dtest=com.datastax.astra.test.integration.dev_vectorize.AstraDevVectorizeEmbeddingApiKeyITTest
