name: AstraProd | Devops API

on:
  #push:
  #  branches: [ main ]
  #pull_request:
  #  branches: [ main ]
  workflow_dispatch:

jobs:
  BUILD:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: 11
          cache: 'maven'
      - name: Build with Maven
        run: |
          mvn install -Dmaven.test.skip=true
  AWS_EU_WEST_1:
    needs: BUILD
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: 11
          cache: 'maven'
      - name: Maven Test
        env:
          ASTRA_DB_APPLICATION_TOKEN: ${{ secrets.ASTRA_DB_APPLICATION_TOKEN }}
          ASTRA_CLOUD_PROVIDER: AWS
          ASTRA_CLOUD_REGION: eu-west-1
        run: |
          cd astra-db-java
  GCP_US_EAST1:
    needs: BUILD
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: 11
          cache: 'maven'
      - name: Maven Test
        env:
          ASTRA_DB_APPLICATION_TOKEN: ${{ secrets.ASTRA_DB_APPLICATION_TOKEN }}
          ASTRA_CLOUD_PROVIDER: GCP
          ASTRA_CLOUD_REGION: us-east1
        run: |
          cd astra-db-java
          mvn test -Dtest=com.datastax.astra.test.integration.prod.AstraProdDevopsITTest
  AZURE_WESTUS3:
    needs: BUILD
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: 11
          cache: 'maven'
      - name: Maven Test
        env:
          ASTRA_DB_APPLICATION_TOKEN: ${{ secrets.ASTRA_DB_APPLICATION_TOKEN }}
          ASTRA_CLOUD_PROVIDER: AZURE
          ASTRA_CLOUD_REGION: westus3
        run: |
          cd astra-db-java
          mvn test -Dtest=com.datastax.astra.test.integration.prod.AstraProdDevopsITTest